/* Laca Text Font Family - Alle weights */

    @font-face {
  font-family: 'Laca Text';
  src: url('Laca Text Extra Light.woff') format('woff');
  font-weight: 100;
    font-style: normal;
  font-display: swap;
    }

    @font-face {
  font-family: 'Laca Text';
  src: url('Laca Text Extra Light Italic.woff') format('woff');
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}

    @font-face {
  font-family: 'Laca Text';
  src: url('Laca Text Light.woff') format('woff');
  font-weight: 200;
    font-style: normal;
  font-display: swap;
    }

    @font-face {
  font-family: 'Laca Text';
  src: url('Laca Text Light Italic.woff') format('woff');
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}

    @font-face {
  font-family: 'Laca Text';
  src: url('Laca Text Book.woff') format('woff');
  font-weight: 350;
    font-style: normal;
  font-display: swap;
    }

    @font-face {
  font-family: 'Laca Text';
  src: url('Laca Text Book Italic.woff') format('woff');
  font-weight: 350;
  font-style: italic;
  font-display: swap;
}

    @font-face {
  font-family: 'Laca Text';
  src: url('Laca Text Regular.woff') format('woff');
  font-weight: 400;
    font-style: normal;
  font-display: swap;
    }

    @font-face {
  font-family: 'Laca Text';
  src: url('Laca Text Regular Italic.woff') format('woff');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

    @font-face {
  font-family: 'Laca Text';
  src: url('Laca Text Medium.woff') format('woff');
  font-weight: 500;
    font-style: normal;
  font-display: swap;
    }

    @font-face {
  font-family: 'Laca Text';
  src: url('Laca Text Medium Italic.woff') format('woff');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

    @font-face {
  font-family: 'Laca Text';
  src: url('Laca Text SemiBold.woff') format('woff');
  font-weight: 600;
    font-style: normal;
  font-display: swap;
    }

    @font-face {
  font-family: 'Laca Text';
  src: url('Laca Text Semibold Italic.woff') format('woff');
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

    @font-face {
  font-family: 'Laca Text';
  src: url('Laca Text Bold.woff') format('woff');
  font-weight: 700;
    font-style: normal;
  font-display: swap;
    }

    @font-face {
  font-family: 'Laca Text';
  src: url('Laca Text Bold Italic.woff') format('woff');
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

    @font-face {
  font-family: 'Laca Text';
  src: url('Laca Text ExtraBold.woff') format('woff');
  font-weight: 800;
    font-style: normal;
  font-display: swap;
    }

    @font-face {
  font-family: 'Laca Text';
  src: url('Laca Text ExtraBold Italic.woff') format('woff');
  font-weight: 800;
  font-style: italic;
  font-display: swap;
}
